@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">
    <h1 class="display-4">Clothing Size Search</h1>
    <form>
    <label for="text-input">localhost:5000/api/</label><br>
    <input type="text" id="text-input" name="text-input"><br>
    </form>

    <div>
    
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
