@{
    ViewData["Title"] = "Home Page";
}



<div class="text-center">

    @using (@Html.BeginForm("Index", "Home", FormMethod.Get))
    {
    <b>Localhost:5000/api/:</b>
    @Html.TextBox("search") <input type="submit" value="search" />
    }
    
    @if(Model != null)
    {

        <ol>
        @foreach (ApiResponse response in Model)
        {
            <ul>
                <li>Id: @response.BrandId</li>
                <li>Name: @response.Name</li>

            </ul>
            <br>
        }
        </ol>
    }

    <div>
    
    </div>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
